.settings-container{
    display: flex;
    justify-content: space-between;
}

.container-profile a{
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 38px;
    padding-right: 5px;
    padding-left: 5px;
}

.container-profile a:first-child{
    position: absolute;
    left: 10px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 38px;
    padding-right: 5px;
    padding-left: 5px;
}


.shelter-upload-link{
    position: absolute;
    right: 15px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 38px;
    padding-right: 5px;
    padding-left: 5px;
}

.profile-delete-button{
    color: white;
    font-size: 24px;
    background-color: #B0846D;
    margin-bottom: 0px !important;
    text-align: center;
    width: 274px;
    padding: 0px 0;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
}

.container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}