.shelter-card {
    width: 40% !important;
    height: 500px;
    background-color: #305C60 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative; /* Set position relative to position absolute children */
}

.container .my-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.shelter-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.shelter-information {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
}

.shelter-name {
    font-size: 32px;
    color: white;
}

.shelter-location {
    font-size: 20px;
    color: white;
    vertical-align: middle;
}

.linky {
    position: absolute;
    bottom: 0; /* Position the linky element at the bottom of the card */
    width: 100%; /* Ensure the button takes up the full width */
    padding: 10px; /* Add padding to give some space */
}

.linky button {
    margin-top: 10px; /* Space between the buttons */
}

.shelter-button {
    width: 95%;
    height: 46px;
    background-color: #B0846D;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
}

.shelter-button:hover {
    background-color: #7d3a78;
    cursor: pointer;
}

#card-buttons:hover{
    background-color: #305C60;
    color: unset !important;
    border: unset !important;
    text-decoration: none !important;
    cursor: default !important;
    box-shadow: none !important;
}