#for-middle-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 562px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.sign-type {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px; /* Adds spacing below the title */
}

.sign-button {
    background-color: rgba(180, 134, 110, 0.98);
    border-radius: 15px;
    width: 242px;
    height: 49px;
    border: 1px solid black;
    font-size: 26px;
}

input {
    width: 240px;
    height: 40px;
    color: black;
    background-color: rgba(256, 256, 256, 0.48);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 50px !important; /* Adjusted margin for a more balanced layout */
    border: 1px rgb(217, 217, 217) solid;
}

input::placeholder {
    color: black;
}

.linky {
    text-align: center;
    margin-top: 10px; /* Adds some space above the link */
}

.linky > a {
    color: white;
}

.pet-card{
    display: flex;
    background-color: #305C60;
    color: white;
    width: 90%;
    margin-right: 50px;
    margin-top: 30px;
}

.pet-card img{
    width: 812px !important;
    height: 544px;
}

.pet-information{
    padding: 50px;
    font-size: 24px;
}

.pet-information *{
    margin-top: 25px;
}

.pet-name{
    font-size: 40px;
}

.description{
    font-size: 20px;
}


